@import url("https://fonts.googleapis.com/css?family=Fascinate+Inline&display=swap");
body {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  color: #e7341c;
}

p {
  color: #2c2a2a;
}

ul {
  list-style: none;
}

ul:hover {
  color: #569a61;
}

ul li {
  color: #e7341c;
  font-size: 35px;
  display: inline-block;
}

/******************************************************************************/
.treat-button {
  font-family: 'Fascinate Inline', cursive;
  font-size: 4vmin;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#F46001), to(#E14802));
  background: linear-gradient(to bottom, #F46001, #E14802);
  border: none;
  color: #FFF;
  border-radius: 2em;
  padding: .6em 1.5em;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  z-index: 1;
  -webkit-box-shadow: 0 0 1em rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 1em rgba(255, 255, 255, 0.2);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.5, 0, 0.5, 1), -webkit-box-shadow 0.2s;
  transition: -webkit-transform 0.1s cubic-bezier(0.5, 0, 0.5, 1), -webkit-box-shadow 0.2s;
  transition: transform 0.1s cubic-bezier(0.5, 0, 0.5, 1), box-shadow 0.2s;
  transition: transform 0.1s cubic-bezier(0.5, 0, 0.5, 1), box-shadow 0.2s, -webkit-transform 0.1s cubic-bezier(0.5, 0, 0.5, 1), -webkit-box-shadow 0.2s;
  outline: none;
}

.treat-button:hover {
  -webkit-box-shadow: 0 0 2em rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 2em rgba(255, 255, 255, 0.3);
}

.treat-button:active {
  -webkit-transform: scale(0.8) translateY(10%);
          transform: scale(0.8) translateY(10%);
  -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
          transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

.treat {
  --scale-x: 0;
  --scale-y: 0;
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - .5rem);
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5vmin;
  -webkit-transform: translate(calc( var(--x) * 1px), calc( var(--y) * 1px)) translate(-50%, -50%);
          transform: translate(calc( var(--x) * 1px), calc( var(--y) * 1px)) translate(-50%, -50%);
  pointer-events: none;
  -webkit-animation: treat-enter 0.1s ease-in backwards, treat-exit 300ms linear calc( (var(--lifetime, 3000) * 1ms) - 300ms) forwards;
          animation: treat-enter 0.1s ease-in backwards, treat-exit 300ms linear calc( (var(--lifetime, 3000) * 1ms) - 300ms) forwards;
}

@-webkit-keyframes treat-enter {
  from {
    opacity: 0;
  }
}

@keyframes treat-enter {
  from {
    opacity: 0;
  }
}

@-webkit-keyframes treat-exit {
  to {
    opacity: 0;
  }
}

@keyframes treat-exit {
  to {
    opacity: 0;
  }
}

.treat .inner {
  -webkit-animation: inner-rotate .6s linear infinite;
          animation: inner-rotate .6s linear infinite;
  -webkit-transform: rotate(calc(-1turn * var(--direction)));
          transform: rotate(calc(-1turn * var(--direction)));
}

@-webkit-keyframes inner-rotate {
  to {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes inner-rotate {
  to {
    -webkit-transform: none;
            transform: none;
  }
}
/*# sourceMappingURL=main.css.map */